* {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.p5Canvas {
    border: 1px solid black;
    /* margin-top: 70px; */
}

.start {

    width: 250px;
    height: 10vh;
    font-size: 40px;
    background: #3b1b5b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 10px;

}

.start:hover {
    cursor: pointer;
}

.wrapper {
    padding-left: 20px;
    width: 900px;
    display: flex;
    display: flex;
    justify-content: center;
}

.p {
    margin-left: -1000px;
}

#food {
    padding-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#best_food {
    padding-right: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#speedFood {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}



.bi-gear {
    display: flex;
    position: absolute;
    right: 15px;
    top: 10px;
}

.rules {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.79);
}

.clows {
    position: absolute;
    top: 10px;
    right: 15px;
}

.rul {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 8px;
    width: 500px;
    height: 100px;
    background: rgba(255, 255, 255, 0.83);
}

.Music {
    margin-top: 25px;
}


.name {
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 14px;
    background: rgb(188, 172, 172);
}

.one {
    display: flex;
    justify-content: center;
}

.ikon {
    font-size: 25px;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px;
    background: rgb(188, 172, 172);

}

.ikon:hover {
    cursor: pointer;
}

.color {

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.color1,
.color2 {
    margin: 0 5px;
}

.easy_fieldSize {
    opacity: 0.5;
}

.hard_fieldSize {
    opacity: 0.5;
}

.easy_speed {
    opacity: 0.5;
}

.hard_speed {
    opacity: 0.5;
}

.end_edge {
    opacity: 0.5;
}

.btns {
    display: none;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(119, 21, 21);
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 35px;

}

.clickD {
    margin-left: 60px;
}

#ones {
    display: flex;
}

.Sensor {
    opacity: 0.5;
}

@media (max-width: 480px) {
    body,
    main {
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    .start {
        width: 90%;
        height: 60px;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .wrapper {
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    .p {
        margin-left: 0;
        text-align: center;
    }

    #food,
    #best_food,
    #speedFood {
        font-size: 16px;
        padding-right: 10px;
        text-align: center;
    }

    .p5Canvas {
        width: 95vw !important;
        height: auto !important;
    }

    .bi-gear {
        top: 5px;
        right: 10px;
    }

    .rules {
        padding: 10px;
    }

    .rul {
        width: 90%;
        height: auto;
        font-size: 16px;
    }

    .name {
        font-size: 18px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .ikon {
        font-size: 20px;
        padding: 4px 8px;
        margin: 4px;
    }

    .color {
        flex-wrap: wrap;
        gap: 5px;
    }

    .btns {
        gap: 5px;
    }

    .btn {
        width: 40px;
        height: 40px;
        font-size: 28px;
    }

    .clickD {
        margin-left: 0;
    }

    .clows {
        top: 5px;
        right: 10px;
    }
}
